site_name: AIMNetCentral
repo_url: https://github.com/isayevlab/aimnetcentral
site_url: https://isayevlab.github.io/aimnetcentral
site_description: AIMNet Machine Learned Interatomic Potential
site_author: Roman Zubatyuk
edit_uri: edit/main/docs/
repo_name: isayevlab/aimnetcentral

nav:
    - Home: index.md
    - Train: train.md
    - Reference: reference.md
    - API Reference:
          - Overview: api/index.md
          - Calculators: api/calculators.md
          - Modules: api/modules.md
          - Data: api/data.md
          - Config: api/config.md

plugins:
    - search
    - mkdocstrings:
          default_handler: python
          handlers:
              python:
                  paths: [.]
                  options:
                      show_source: true
                      show_root_heading: true
                      show_root_full_path: false
                      docstring_style: google
                      merge_init_into_class: true

theme:
    name: material
    palette:
        primary: indigo
        accent: indigo
    icon:
        repo: fontawesome/brands/github

markdown_extensions:
    - toc:
          permalink: true
