name: release-main

on:
    release:
        types: [published]
        branches: [main]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Check out
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # Fetch all history and tags for hatch-vcs

            - name: Set up the environment
              uses: ./.github/actions/setup-uv-env

            - name: Build and publish
              run: |
                  uv build
                  uv publish --token ${{ secrets.PYPI_TOKEN }}

    deploy-docs:
        needs: publish
        runs-on: ubuntu-latest
        steps:
            - name: Check out
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # Fetch all history and tags for hatch-vcs

            - name: Set up the environment
              uses: ./.github/actions/setup-uv-env

            - name: Deploy documentation
              run: uv run mkdocs gh-deploy --force
